.newsItem {
  border-radius: 10px;
  box-shadow: 0 0 20px #e3e3e3;
  padding: 30px;
  display: flex;
  min-height: 300px;
  margin-top: 30px;
}
.newsItem div {
  margin-right: 20px;
}
.newsPicture {
  max-width: 350px;
  min-width: 300px;
  height: 300px;
  background-color: lightgray;
}
.newsTitle {
}
.newsContent {
  height: 200px;
  width: 530px;
}
.newsTimeStamp {
  text-align: right;
  padding-top: 10px;
}
.searchTitle {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4e4e4e;
  text-align: center;
}
.searchBar {
  width: 40%;
  padding: 10px;
  margin: auto;
}
.searchBar input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #efefef;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.addNewsClosed {
  border: 1px solid lightgray;
  background-color: #a7d1ff;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.addNewsClosed:hover {
  background-color: #809cf6;
}
.addNewsOpened {
  transition: 0.5s;
}
.addNewsOpened div {
  margin-top: 5px;
}
.addNewsOpened div input {
  border: none;
  outline: none;
}
.options {
  display: flex;
}
.declineNews {
  width: 100px;
  margin-top: 5px;
  border: 1px solid lightgray;
  background-color: #ff6161;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  text-align: center;
}
.acceptNews {
  text-align: center;
  width: 100px;
  margin-top: 5px;
  border: 1px solid lightgray;
  background-color: #a7d1ff;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.acceptNews:hover {
  background-color: #809cf6;
}
.declineNews:hover {
  background-color: #f61e2f;
}
